html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    cursor: default;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  #header {
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid black;
    grid-column: 1 / 4;
  }

  #content {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    grid-template-columns: 2fr 8fr 6fr;
  }

  #sidebar {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 24px;
    padding: 16px;
    height: calc(100vh - 5rem);
  }

  #nav, #createNew {
    display: grid;
    grid-auto-flow: row;
    font-size: 1.25rem;
  }

  #projects-nav-title {
    font-size: 1.25rem;
    margin-bottom: 6px;
  }

  .nav-project {
    font-size: 1rem;
    padding: 4px 8px 4px 8px;
  }

  .nav-project:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
  }

  #project-container {
    position: relative;
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 16px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 16px
  }

  #todo-container {
    position: relative;
    grid-row-start: 2;
    grid-column-start: 3;
    display: grid;
    grid-template-rows: repeat(5, calc(min-content + 25px));
    gap: 16px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 16px;
    margin-right: 16px;
  }

  .project {
    font-size: 1.5rem;
  }

  #todo-priority {
    gap: 8px;
  }

  .todo {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    border-bottom: 1px solid grey;
    padding: 4px 8px 4px 8px;
  }

  .todo > .name, .dueDate {
    width: 100%;
  }

  .todo:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
  }

  #checkbox {
    align-self: start;
  }

  .collapsible {
    cursor: default;
  }

  #project-form,
  #todo-form  {
    z-index: 100;
    background-color: white;
    display: grid;
    grid-auto-flow: row;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    gap: 16px;
  }

  #project-header {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 3rem;
    padding: 8px;
  }

  .title:focus, #todo-description:focus, #todo-notes:focus {
    background-color: white;
    outline-color: greenyellow;
  }

  #new-todo {
    font-size: 2rem;
    justify-self: start;
  }

  .id {
    display: none !important;
    position: absolute;
  }

  .invisible {
    display: none !important;
  }

  #project-delete {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: min-content;
    border-radius: 8px;
    border: 0px solid grey;
    padding: 4px 8px 4px 8px;
  }

  #project-delete:hover, #delete-todo:hover  {
    background-color: crimson;
    color: white;
  }

  #delete-todo {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: min-content;
    border-radius: 8px;
    border: 0px solid grey;
    padding: 4px 8px 4px 8px;
  }



